
  
footer{
    height: 500px;
    @include flex(column);
    
    .links{
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      .link-item{
        margin: 5%;
        font-size: 3rem;
        a{
          color: white;
          transition: .5s;
        }
      }
      .link-item:hover{
        a{
          color: rgb(56, 0, 0);
          transition: 1s;
          filter: drop-shadow(5px 5px 2px white);
        }
      }
    }
  
  
  }
  
  